footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #212121;
    padding: 2vh 0;

    p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: white;
    }
    div{
        display: flex;
        justify-content: space-evenly;

        img{
            width: 4vw;
        }
    }
}