header{
    background-color: #212121;
    color: white;
    display: grid;
    grid-template-columns: 25% 75%;
}

h2{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-family: "hero-new";
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    

    a{
        color: white;
        text-decoration: none;
    }

    .actual_page{
        border-bottom: 3px solid #C30E0E;
    }
}
