.project_page{
    background-color: #474747;
    color: white;
}

.img_project{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1vw;
    justify-content: center;
    
    img{
        margin: auto;
        width: 15vw;
    }

    .img_1, .img_4{
        width: 20vw;
    }

    .img_1{
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }

    .img_4{
        grid-column: 3 / 5;
        grid-row: 1 / 1;
    }
}