.skills{
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr{
        height: 1vh;
        width: 75%;
        margin-top: 4vh;
    }

    h3{
        margin-top: 4vh;
        font-size: 4vh;
    }

    p{
        margin-top: 4vh;
        width: 65%;
        text-align: justify;
        margin-bottom: 4vh;
    }

    ul{
        list-style: disc;
        display: block;
        margin-bottom: 4vh;
    }
}

.subtitle{
    margin-top: 4vh;
    font-size: 5vh;
    text-align: center;
}

@include for_size(mobile){
    .skills{
        display: flex;
        flex-direction: column;
    }
}