nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #212121;
    color: white;
    display: grid;
    grid-template-columns: 25% 75%;
}

h2{
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
    font-family: "hero-new";
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    

    a{
        color: white;
        text-decoration: none;
    }

    .actual_page{
        border-bottom: 4px solid #C30E0E;
    }
}

@include for_size(laptop){
    h2{
        font-size: 5vw;
    }
    ul a{
        font-size: 3vw;
    }
}