.nav_div{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #212121;
    color: white;
    z-index: 2;
    display: grid;
    grid-template-columns: 25% 75%;
}

h2{
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
    font-family: "hero-new";
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    

    a{
        color: white;
        text-decoration: none;
    }

    .actual_page{
        border-bottom: 4px solid #C30E0E;
    }
}

@include for_size(laptop){
    h2{
        font-size: 5vw;
    }
    ul a{
        font-size: 3vw;
    }
}

@include for_size(mobile){
    .burger{
        z-index: 20;
        margin: 1em;
        width: 42px;
        height: 24px;
        position: absolute;
    }

    .burger span{
        overflow-x: visible;
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
        background-color: #C30E0E;
        
        &::before{
            transform: translateY(-10px);
        }

        &::after{
            transform: translateY(10px);
        }
    }

    .burger span::after, .burger span::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        transition: transform 0.5s ease-in-out;
        overflow-y: hidden;
        background-color: #C30E0E;
    }

    .burger.active span{
        background-color: transparent;

        &::before{
            transform: translateY(0px) rotateZ(45deg);
        }

        &::after{
            transform: translateY(0px) rotateZ(-45deg);
        }
    }

    .nav_div{
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;

        & h2{
            margin-top: 3vh;
        }

        & ul{
            flex-direction: column;
            height: 100%;

            & .actual_page{
                border-bottom: none;
                & a{
                    color: #C30E0E;
                }
            }

            & li{
                height: 100%;
                padding: 0;
            }
        }
    }
    
    .nav_div.active{
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }
    
    .nav_div ul li a{
        font-size: 8vw;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}